Django==6.1.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
python-dotenv==1.2.4
selenium==4.50.0
beautifulsoup4==4.15.0
requests==2.34.2
pyperclip==1.11.0
pandas==3.0.6
openpyxl==3.1.5
pydantic==2.13.5
langchain-core==1.6.6
langchain-google-genai==4.4.0
google-generativeai==0.8.6
